@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    font-size: 62.5%;

    --header-err: rgb(255, 2, 2);
    --bg-first-color: #4158D0;
    --bg-second-color: #C850C0;
    --bg-third-color: #FFCC70;
    --color-text: #FFF;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-first-color);
    background-image: linear-gradient(43deg, var(--bg-first-color) 0%,  var(--bg-second-color) 46%, var(--bg-third-color) 100%);
    background-size: 200% 200%;
    animation: moveBackground 4s ease-in-out alternate infinite;
    height: 100vh;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
    font-weight: 700;
    color: var(--color-text);
    text-transform: uppercase;
    font-size: 1.5rem;
    background: var(--header-err);
}

main, .table {
    width: min(42rem, 90%);
    margin: 0 auto;
    height: 50%;
    border-radius: .5rem;
    background: var(--color-text);
    box-shadow: 0px 0px 15px 4px #000;
    padding: 2rem;
    position: relative;
}

h1 {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.start {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.buttonStyle {
    padding: 1rem;
    width: 50%;
    background: var(--bg-first-color);
    color: var(--color-text);
    font-weight: bold;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    transition: background 250ms ease-in-out;
}

.buttonStyle:hover {
    background: var(--bg-second-color);
}

.start h1 {
    color: #fff;
    background: -webkit-linear-gradient(45deg, var(--bg-first-color), var(--bg-second-color) 80%);
    -webkit-background-clip: text;
    background-clip: text ;
    -webkit-text-fill-color: transparent;
}


.sectionShowArtists span {
    display: flex;
    justify-content: end;
    align-items: end;
    margin-bottom: 1rem;
}

.sectionShowArtists span button {
    padding:1rem;
}

.sectionForm {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.sectionForm form {
    display: flex;
    justify-content: center;
}

form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

form input {
    width: 100%;
    padding: 1rem;
}

.sr-only {
    height: 1px;
    width: 1px;
    margin: -1px;
    clip: rect(0,0,0,0);
    position: absolute;
    opacity: 0;
}

.loading {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    z-index: 1;
    display: grid;
    place-content: center;
}


.hidden {
    opacity: 0;
    display: none;
    visibility: hidden;
}

.hiddenButNotDisplayNone {
    opacity: 0;
    visibility: hidden;
}

.loading span {
    background: var(--color-text);
    height: 10rem;
    width: 11rem;
    display: block;
    margin-bottom: 1rem;
    border-radius: 5rem;
    animation: spinning 1s ease-in forwards infinite;
}


.popUpPosition {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.menuShowArtist {
    width: min(42rem, 90%);
    max-height: 50rem;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background:var(--color-text);
    padding: 1rem 2rem;
    border-radius: .5rem;
    box-shadow: 0px 0px 15px 4px #000;
}


.table {
    height: auto;
    padding: 2rem 2rem;
    width: min(60rem, 90%);
}



ul li {
    margin-bottom: 1rem;
}

li button {
    height: auto;
    width: 100%;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.closeModal {
    width: 100%;
    border: none;
    border-radius: .4rem;
    background: #000;
    color: var(--color-text);
    cursor: pointer;
    padding: .5rem .9rem;
}


table {
    margin-top: 1.6rem;
    width: 100%;
    background: var(--color-text);
    border: 1px solid #000;
    border-collapse: collapse;
}

table thead tr th {
    padding: 1rem;
    color: var(--color-text);
    background: var(--bg-first-color);
}

table td, th {
    padding-left: .4rem;
    border: 1px solid #000;

}

thead tr {
    font-size: 1.3rem;
}

tbody tr {
    font-size: 1.2rem;
}

tfoot td {
    background: var(--bg-first-color);
    color: var(--color-text);
    padding: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

tbody tr:hover {
    background: rgba(0,0,0,0.2);
}


@keyframes spinning {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes moveBackground {
    0% {
        background-position: 100% 0;
    }

    50% {
        background-position: 50% 50%;
    }


    100% {
        background-position: 0 100%;
    }
}